/*
    Document   : stylesheet
*/

.root{
    -fx-font-family: "System";
    -fx-base: #406B80;
    -fx-background: #406B80;
    -fx-focus-color: #2E6C80;
    -fx-selection-background-color: #406B80;
}

